/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/settings/_colors'

$body-font-family := 'Raleway', sans-serif



$theme := {
  primary: $teal.lighten-3
  accent: $orange.accent-2
  secondary: $orange.darken-3
  info: $blue.base
  warning: $amber.base
  error: $red.base
  success: $purple.base
}

@import '../../node_modules/vuetify/src/stylus/main'
